
    <%- include naver %>
    <div class="waper">
<!--　
<% if (message) {%>
<div class="alert alert-danger" role="alert"><%= message %></div>
<% }%>
-->
<% if (message) { %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Warning!</strong><%= message %>
</div>
<% } %>
      <div class="container">

<% if (user.statu == 0) {%>
        <div class="row regist-table">
          <form role="form" method="post" action="/apply" class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <label ><span class="glyphicon glyphicon-road"></span>学校</label>
              <input name="school" type="text" class="form-control" placeholder="请输入学校全称">
            </div>
            <div class="form-group">
              <label ><span class="glyphicon glyphicon-heart"></span>队名</label>
              <input name="nick" type="text" class="form-control" placeholder="请输入比赛所用昵称">
            </div>

            <div class="form-group">
              <label ><span class="glyphicon glyphicon-user"></span>队长</label>
              <input name="teamer1" type="text" class="form-control" placeholder="请输入真实姓名">
            </div>
            <div class="form-group">
              <label ><span class="glyphicon glyphicon-user"></span>队员</label>
              <input name="teamer2" type="text" class="form-control" placeholder="请输入真实姓名">
            </div>
            <div class="form-group">
              <label ><span class="glyphicon glyphicon-user"></span>队员</label>
              <input name="teamer3" type="text" class="form-control" placeholder="请输入真实姓名">
            </div>

            <div class="form-group">
              <label ><span class="glyphicon glyphicon-phone"></span>联系电话</label>
              <input  name="tel" type="text" class="form-control" placeholder="请输入有效的联系电话">
            </div>
            <div class="form-group">
              <label ><span class="glyphicon glyphicon-tree-deciduous"></span>QQ</label>
              <input  name="qq" type="text" class="form-control" placeholder="请输入QQ号 ">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
<% } else if (user.statu == 1) {%>
<div class="jumbotron">
  <h1>报名确认中...</h1>
  <p>请等待管理员确认你的比赛资格。</p>
</div>
<% } else {%>
<div class="jumbotron">
  <h1>报名成功</h1>
  <p>你已成功报名本次比赛，请认真准备比赛。期待你在赛场上的出彩表现。</p>
        </div>
      </div>
<% } %>

      </div>

      <%- include footer %>
