
<%- include header %>
<%- include naver %>

<h2>now apply for the program contest</h2>

<% if (user.statu == 0) {%>
<form method="post" action="/apply">
  name:<br><input type="text" name="name"><br>
  nick:<br><input type="text" name="nick"><br>
  studentID:<br><input type="text" name="studentID"><br>
  college:<br><input type="text" name="college"><br>
  tel:<br><input type="text" name="tel"><br>
  QQ:<br><input type="text" name="qq"><br>
  <button type="submit">apply</button>
</form>
<% } else if (user.statu == 1) {%>
<p>you had applyed for this contest, Please wait for the administrator to confirm your eligibility.</p>
<% } else {%>
<p>The administrator has confirmed the eligibility, 
Please concentrate on preparing for the competition.</p>
<% } %>
<%- include footer %>