
    <%- include naver %>
    <div class="waper">
<!--
<% if (message) {%>
<div class="alert alert-danger" role="alert"><%= message %></div>
<% }%>
-->
<% if (message) { %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Warning!</strong><%= message %>
</div>
<% } %>
      <div class="jumbotron cover" >
        <div class="container text-center" style="text-shadow: 0 0 16px #000;">
          <h2>华中师范大学</h2>
          <h1>2017年ACM程序设计竞赛</h1>
<!--          <p class="lead">2016<sup>th</sup> Programming Contest of CCNU</p> -->
<p> </p>
          <p class="lead text-danger">
            <a href="apply" class="btn btn-primary btn-lg">立即报名</a>
          </p>
        </div>
      </div>

      <div class="container" style="margin-bottom: 64px;">
        <div class="col-md-offset-1 col-md-10">
          <p class="lead">
            <b>华中师范大学ACM程序设计竞赛</b>是一年一度的面向全武汉各高校选手的编程竞赛。本次比赛由华中师范大学计算机学院主办，华中师范大学ACM协会承办，旨在加强武汉地区各高校ACM选手的交流，分享优秀经验，吸引更多的编程爱好者参与。欢迎大家加入比赛交流群：598138857
          </p>
        </div>
        <div class="col-sm-6">
          <p class="lead text-center">
            <span class="glyphicon glyphicon-calendar"></span> 2017 年 5 月 6 日 <br>10:00 至 15:00
          </p>
        </div>
        <div class="col-sm-6">
          <p class="lead text-center">
            <span class="glyphicon glyphicon-map-marker"></span>
            <a data-toggle="modal" data-target="#location-qr">九号楼 1117 室</a>
          </p>
        </div>
      </div>

      <div class="well text-center">
        <h1>规则</h1>
      </div>

      <div class="container faq">
        <div class="row">
          <div class="col-md-4">
            <p class="lead">
              于华中武汉地区就读的本科生均报名参加本赛事。
            </p>
          </div>
          <div class="col-md-4">
            <p class="lead">
              参赛者以3人为一个队伍参加比赛。每个队伍在比赛期间使用一台没有接入互联网的计算机。
            </p>
          </div>
          <div class="col-md-4">
            <p class="lead">
              比赛题目10~13道，以中文描述。
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p class="lead">
              选手不可携带任何电子设备进入赛场。任何在比赛期间使用电子设备的企图将被视为作弊行为，并使选手失去参赛资格。
            </p>
          </div>
          <div class="col-md-4">
            <p class="lead">
              选手可以携带任何印刷品入场以供比赛期间查阅。
            </p>
          </div>
          <div class="col-md-4">
            <p class="lead">
              选手应无条件服从裁判的指令和判决。
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p class="lead">
              选手所用计算机运行 Windows 7，安装有以下开发工具：
              <ul class="lead">
                <li>CodeBlocks</li>
              </ul>
            </p>
          </div>
          <div class="col-md-4">
            <p class="lead">
              测试机的操作系统为 Ubuntu Linux，可用的编译器有：
              <ul class="lead">
                <li>GCC 5.2.1</li>
                <li><del>Open JDK 7</del></li>
              </ul>
            </p>
          </div>
          <div class="col-md-4">
            <p class="lead">
              比赛使用 DOM Judge 处理选手的提交。选手的程序只能通过标准输入输出与操作系统交互。
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <p class="lead">
              C 程序的编译命令为<br><code>$ gcc -std=c11 -O2 -o main main.cpp</code>。<br>64 位整数的格式说明符为 <code>%lld</code> 和 <code>%llu</code>。
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-4 col-md-8">
            <p class="lead">
              C++ 程序的编译命令为<br><code>$ g++ -std=c++11 -O2 -o main main.cpp</code>。<br>64 位整数的格式说明符为 <code>%lld</code> 和 <code>%llu</code>。
            </p>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-8">
            <p class="lead">
              <del>Java 程序应包含且仅包含一个名为<code>Main</code>的 public 类；<br>不应包含 <code>package</code> 语句。</del>
		无java环境
            </p>
          </div>
        </div> -->
        <hr>
      </div>

      <div class="well text-center">
        <h1>F.A.Q.</h1>
      </div>

      <div class="container faq">
        <div class="row">
          <div class="col-md-4">
            <p class="lead">
              优胜者将获得由协会颁发的荣誉证书和奖品。
            </p>
          </div>
          <div class="col-md-4">
            <p class="lead">
              此次比赛将设置一等奖1名，二等奖2名，三等奖3名。
            </p>
          </div>
          <div class="col-md-4">
            <p class="lead">
              如果你有任何疑问，欢迎联系我们。
            </p>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <%- include footer %>

