<%- include naver %>
<div class="waper">	
<!--
<% if (message) {%>
<div class="alert alert-danger" role="alert"><%= message %></div>
<% }%>
-->
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <form class="form" role="form" action="/regist" method="post">
              <h2 class="form-signin-headin text-center">注册</h2>
              <div class="form-group">
                <label>电子邮箱</label>
                <input name="email" type="email" class="form-control" placeholder="电子邮箱" required autofocus>
              </div>
              <div class="form-group">
                <label>密码</label>
                <input name="password" type="password" class="form-control" placeholder="密码" required>
              </div>
              <div class="form-group">
                <label>确认密码</label>
                <input name="password_re" type="password" class="form-control" placeholder="再次输入密码" required>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include footer %>
  </body>
</html>
