<ul>
  <li><a href="/">index</a></li>
  <li><a href="/apply">apply</a></li>
  <% if (user != null) { %>
  	<li><a href="/logout">logout</a></li>
  <% } %>
</ul>

<% if (user == null) {%>
<form action="login" method="post">
  email:<br><input type="email" name="email"><br>
  password:<br><input type="password" name="password" ><br>
  <button  type="submit">Login</button>
  <a href="/regist">Regist</a>
</form>
<% } else {%>
<h1>Welcome to CCNUACM, <%= user.email %></h1>
<% } %>
<% if (message) { %>
<h3><%= message%></h3>
<% } %>