
<%- include header %>
<%- include naver %>

<h2>Regist for your account</h2>
<form method="post" action="/regist">
  email:<br><input type="email" name="email"><br>
  password:<br><input type="password" name="password" ><br>
  password-re:<br><input type="password" name="password_re" ><br>
  <button type="submit">Regist</button>
</form>

<%- include footer %>